<html>
	<head>
		<title>Oulu Traffic Simulation</title>
		<script type="text/javascript" src="{{ url_for('static', filename='jquery-2.1.4.min.js') }}"></script>
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB4O9doFyBaUVS1WjUgqbTBfIQ3K4IMhMA" ></script>

		<script>
			var server = '{{server}}';
		</script>
		<script type="text/javascript" src="{{ url_for('static', filename='site-scripts.js') }}"></script>
	</head>
	<body>
		<div id="information-area"></div>
		<div id="current_time"></div>
		<button onclick="is_running = !is_running;">Change state</button>
		<div id="map_area" style="height: calc(100% - 50px); width:100%"></div>
	</body>

</html>
